.hero-image-container .hero-image-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-image {
  position: relative;
  padding: 80px 24px 60px;
  min-height: 400px;
}

.hero-image h1 {
  max-width: 1200px;
  color: var(--background-color);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

.hero-image .button-container {
  max-width: 1200px;
}

.hero-image .button-container .button {
  background-color: #5e17eb;
  border-radius: 25px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #5e17eb;
}

.hero-image .button-container .button:hover {
  background-color: #4a12ba;
  border-color: #4a12ba;
}

.hero-image picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-image {
    padding: 40px 32px;
  }
}
